<% layout('layouts/boilerplate') %>
  <body>
    
    
      <div class="row">
        <div class="col-8 offset-2">
          <h3>Edit your Listing</h3>
          <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
          <div class ="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required value="<%= listing.title %>"/>
        </div>
        <div class ="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter Description" class="form-control" required><%= listing.description %></textarea>
        </div>
        <div class="row">
            <div class ="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="1200" class="form-control" required value="<%= listing.price %>"/>
        </div>

        <div class ="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="india" class="form-control" required value="<%= listing.country %>"/>
        </div>
        </div>
        
        <div class ="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="jaipur,Rajasthan" class="form-control" required value="<%= listing.location %>"/>
        </div>
        <div class ="mb-3">
            <label for="imageUrl" class="form-label">Image URL</label>
            <input type="text" name="listing[imageUrl]" placeholder="Enter Image URL" class="form-control" value="<%= listing.image.url %>"/>
        </div>
        <br/>
      <button class="btn btn-dark add-btn">Edit</button>
      <br><br>
      </form>
      </div>
      </div>
    
  </body>